{% extends "base.html" %}
{% include forms.html %}
{% load crispy_forms_tags %}

{% block content %}
<script src="/static/chosen/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        jQuery("input.dateinput").datepicker({ dateFormat: 'dd/mm/yy', minDate: '01/01/1989', maxDate: '31/12/2100' });
    });
</script>
<link type="text/css" href="/static/chosen/chosen.css" rel="stylesheet" />

<h2>Add Aircraft Flight Log</h2>
<hr />

<form method="POST" action="">
    {% csrf_token %}
    {% crispy form %}
</form>
<div>

<script type="text/javascript">
    $(".select").chosen();
</script>
{% endblock content%}
