{% extends "base.html" %}
{% include forms.html %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="/media/uni-form.css" />
<script src="/media/chosen/chosen/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        jQuery("input.dateinput").datepicker({ dateFormat: 'dd/mm/yy', minDate: '01/01/1989', maxDate: '31/12/2100' });
    });
</script>
<link type="text/css" href="/media/chosen/chosen/chosen.css" rel="stylesheet" />

<h2>Add Aircraft Flight Log</h2>
<hr />

<form method="POST" action="" class="uniForm">
{% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    <div class = "form_block">
      <input type="submit" value="Save Changes" class="submit submitButton">
    </div>
  </fieldset>
</form>
<div>


<script type="text/javascript">
    $(".select").chosen();
    //$(".chzn-select-aircraft").chosen();
</script>


{% endblock content%}
