<div id="wrapper">
<ul id="nav" class="dropdown dropdown-horizontal">
	<li><a href="/avs/index">Home</a></li>
	<li><span class="dir">Forms</span>
		<ul>
			<li><span class="dir">Aircraft Flight Log</span>
				<ul>
					<li><a href="/avs/aircraftflightlog/add">Add</a></li>
					<li><a href="/avs/aircraftflightlog/list">Report</a></li>
                    <li><a href="/avs/aircraftflightlog/listdetailed">Report - Detailed</a></li>
                </ul>
			</li>
			<li>
                <a href="/avs/dutytime/add">Duty Times</a>
            </li>
		</ul>
	</li>
	<li><span class="dir">Reports</span>
		<ul>
            <li><a href="/avs/report/commandpilotsummary">Datcon Pilot in Command Summary</a></li>
            <li><a href="/avs/report/trainingpilotsummary">Datcon Pilot in Command Under Supervision Summary</a></li>
			<li><a href="/avs/report/firesummary">Datcon Fire Summary</a></li>
            <li><a href="/avs/report/aircraftsummary">Datcon Aircraft Summary</a></li>
            <li><a href="/avs/report/flightsummary">Datcon Flight Summary</a></li>
            <li><a href="/avs/report/timesummary">Datcon Time Summary</a></li>
		</ul>
	</li>
	<li><span class="dir">Lookups</span>
		<ul>
			<li><span class="dir">Pilot</span>
				<ul>
					<li><a href="/avs/pilot/add">Add</a></li>
					<li><a href="/avs/pilot/list">List</a></li>
				</ul>
			</li>
			<li><span class="dir">Aircraft</span>
				<ul>
					<li><a href="/avs/aircraft/add">Add</a></li>
					<li><a href="/avs/aircraft/list">List</a></li>
				</ul>
			</li>
            <li><span class="dir">Task</span>
				<ul>
					<li><a href="/avs/task/add">Add</a></li>
					<li><a href="/avs/task/list">List</a></li>
				</ul>
			</li>
   		</ul>
	</li>
</ul>
</div>
