{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="/media/uni-form.css" />
{% if title %}
    <h2>{{title}}</h2>
    <hr />
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        jQuery("input.dateinput").datepicker({ dateFormat: 'dd/mm/yy', minDate: '01/01/1989', maxDate: '31/12/2100' });
    });
</script>

<form method="POST" action="" class="uniForm">
{% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    <div class = "form_block">
      <input type="submit" value="Save Changes" class="submit submitButton">
    </div>
  </fieldset>
</form>
{% endblock content %}
