{% block content %}
<link type="text/css" href="/media/mt/css/common.css" rel="stylesheet" />
<link type="text/css" href="/media/mt/css/ui.multiselect.css" rel="stylesheet" />
<script type="text/javascript" src="/media/mt/js/ui.multiselect.js"></script>
<script type="text/javascript">
$(function(){
  // choose either the full version
  $(".multiselect").multiselect();
  // or disable some features
  //$(".multiselect").multiselect({sortable: false, searchable: false});
});
</script>
{% endblock content%}
